* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.imgLogo {
  width: 216.19px;
  height: 48px;
}

/*header vertical*/
.headerVertical{
    background-color: #3C58A2;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}


ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  color: white;
}

.liHeaderGestor{
  display: inline-block;
  margin: 20px;
}

/* main css */
main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
    padding: 0 4%;
}

.nossosServicos {
  text-align: center;
  color: #3C58A2;
  font-size: 35pt;
  font-weight: bold;
}

.containerCard {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  gap: 40px;  
}

.card {
  width: 15vw; 
  min-width: 100px;
  min-height: 30%;
  background-color: #FFEAC3;
  border-radius: 15px; 
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  gap: 20px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.fotosCard {
  height: 120px;
  margin-bottom: 20px;
}

.divCard{
  color: #4D97E4;
}

.pCard{
  color: #E86424;
}