  body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #FFFFFF;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2% 5% 2% 11%;
      background-color: #F5F5F5;
  }

  .logo {
      width: 180px;
  }

  .perfil {
      display: flex;
      align-items: center;
      gap: 15px;
  }

  .perfil-info {
      text-align: right;
  }

  .perfil-info p {
      margin: 0;
      font-size: 14px;
      color: #4D97E4;
  }

  .perfil-foto {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
  }

  .iniciar-consulta {
      background: linear-gradient(90deg, #FFB347, #FF8C00);
      border: none;
      width: 500px;
      padding: 15px 30px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      transition: 1s;
      align-self: center;
      text-align: center;
      text-decoration: none;
  }


  .iniciar-consulta:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      cursor: pointer;
  }

  .iniciar-consulta:active {
      transform: translateY(0);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .iniciar-consulta:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 204, 51, 0.4);
  }

  .logout {
  background: #4D97E4;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}

.logout:hover {
  background: linear-gradient(90deg, #4D97E4, #3B6FE0, #2B4FD1);
  transform: scale(1.05);
}

.logout:active {
  transform: scale(0.95);
}